
                    {% extends 'layout.html' %}


                    {% block title %}
                    <title>ADD STUDENT</title>
                    {% endblock %}




                    {% block content %}
                    <div class="container jumbotron">
                        <form method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input type="submit" value="ADD STUDENT" class="btn btn-outline-success col-6">
                            <input type="'reset" value="RESET" class="btn btn-outline-warning col-6 float-right">

                        </form>
                    </div>
                    {% endblock %}