
                        {% extends 'layout.html' %}


                        {% block title %}
                        <title>SHOW STUDENT</title>
                        {% endblock %}


                        {% block content %}
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th>ROLL</th>
                                    <th>FNAME</th>
                                    <th>LNAME</th>
                                    <th>MARKS</th>
                                    <th>MAIL</th>
                                    <th>ADDRESS</th>
                                    <th>PASSWORD</th>
                                    <th>C_PASSWORD</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            {% for obj in data %}
                                    <tr>
                                        <td>{{obj.roll}}</td>
                                        <td>{{obj.fname}}</td>
                                        <td>{{obj.lname}}</td>
                                        <td>{{obj.marks}}</td>
                                        <td>{{obj.mail}}</td>
                                        <td>{{obj.address}}</td>
                                        <td>{{obj.password}}</td>
                                        <td>{{obj.c_password}}</td>
                                        <td>
                                            <a href="{% url 'update_url' obj.id %}"><button class="btn btn-outline-warning btn-sm mr-3">UPDATE</button></a>
                                            <a href="{% url 'delete_url' obj.id %}"><button class="btn btn-outline-danger btn-sm">DELETE</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                        </table>
                        {% endblock %}